@charset "utf-8";
body{
    text-align: center;
    font-size: 50px;
    background: url(bg.jpg);
    background-size: cover;
}

div{
    padding-top: 200px;
    color: rgb(120, 11, 188);
}